::ng-deep.mat-dialog-container {
    border-radius: 10px;
    padding: 0;
    overflow-x: hidden;
}

.dialog-container {
    width: 600px;
    background: #ffffff;
    // height: 90vh;
    min-height: max-content;
    max-height: 90Vh;
    .dialog-header {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        align-items: start;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #14213D;
        border-bottom: 2px dotted #DDDDDD;

        .close-btn {
            background-color: #D9D9D9;
            cursor: pointer;
            color: #999;
            height: 25px;
            width: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;

            &:hover {
                background-color: #e6e5e5;
            }
        }

        .icon {
            height: 20px;
            width: 20px;
            scale: 55%;
            color: #0A1420;
        }
    }

    form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px;

        .form-group {
            display: flex;
            flex-direction: column;

            label {
                font-family: Poppins;
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #666666;
                margin-bottom: 5px;
            }

            input,
            select,
            textarea {
                padding: 15px 10px;
                font-size: 14px;
                border: 1px solid #ccc;
                border-radius: 10px;

                &:focus {
                    outline: none;
                    border-color: #157afe;
                }

                &::placeholder {
                    color: #999999;
                }

                &.ng-invalid.ng-touched {
                    border-color: #d9534f;
                }
            }

            small {
                color: #d9534f;
                font-size: 12px;
                margin-top: 5px;
            }


        }

        /* Full-width for certain fields */
        .full-width {
            grid-column: span 2;
        }

        .form-actions {
            text-align: center;
            grid-column: span 2;
            .submit-btn {
                padding: 10px 20px;
                background-color: #157AFE;
                color: #ffffff;
                border: none;
                border-radius: 50px;
                cursor: pointer;
                font-size: 14px;
                font-weight: 500;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                &:hover {
                    background-color: #0056b3;
                }
            }
        }

        /* Mobile view */
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 15px;

            .form-actions {
                text-align: center;
                .submit-btn {
                    padding: 10px 20px;
                    background-color: #157AFE;
                    color: #ffffff;
                    border: none;
                    border-radius: 50px;
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: 500;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }

    .error-border {
        border-color: #d9534f !important;
    }

    small {
        color: #d9534f;
        font-size: 12px;
        margin-top: 5px;
    }

    input.ng-invalid.ng-touched,
    select.ng-invalid.ng-touched,
    textarea.ng-invalid.ng-touched {
        border-color: #d9534f;
    }


}

.custom-date-wrapper {
    margin-right: 20px;
    position: relative;
    display: flex;
    flex-direction: column;

    input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;

        &:focus {
            outline: none;
            border-color: #157afe;
        }
    }

    .mat-datepicker-toggle {
        position: absolute;
        top: 48px;
        right: -20px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .custom-date-icon {
        font-size: 20px;
        color: #157afe;
    }

    .error-border {
        border-color: #d9534f;
    }

    small {
        color: #d9534f;
        font-size: 12px;
        margin-top: 5px;
    }
}

.custom-time-wrapper {
    position: relative;
    margin-right: 20px;
    height: 50px;

    .custom-time-icon {
        position: absolute;
        top: -25px;
        right: -220px;
        transform: translateY(-50%);
        cursor: pointer;
        color: #157afe;
    }

    input {
        width: 100%;
        padding-right: 40px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;

        &:focus {
            outline: none;
            border-color: #157afe;
        }

        &.error-border {
            border-color: #d9534f;
        }
    }
}

/* Styling mat-select without mat-form-field */
.mat-select {
    width: 100%;
    font-size: 14px;
    padding: 12px;
}

.mat-select-arrow {
    color: #157afe;
    /* Change arrow color */
}

/* Error border customization */
.error-border {
    border: 1px solid #d9534f;
}

.select {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px 10px;
}

.select-conatiner{
    margin-right: 20px;
}
.selected-text{
    color: #999999;
    font-size: 14px;
}